.card--1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-height: 315px;
}

.card--1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container--1 {
    padding: 2px 16px;
}

.row--projects {
    width: 80%;
    margin-left: 15%;
}

/* Escritorio grande */
@media (min-width: 1200px) {}

/* Escritorio mediano o tablet horizontal */
@media (max-width: 1199px) and (min-width: 992px) {}

/* Escritorio pequeño o tablet vertical */
@media (max-width: 991px) and (min-width: 768px) {
    .row--projects {
        width: 100%;
        margin-left: 1%;
    }
}

/* Movil */
@media (max-width: 767px) {
    .row--projects {
        width: 100%;
        margin-left: 1%;
    }
}