.sidebar--footer {
    position: absolute;
    bottom: 0;
}

/* Escritorio grande */
@media (min-width: 1200px) {}

/* Escritorio mediano o tablet horizontal */
@media (max-width: 1199px) and (min-width: 992px) {}

/* Escritorio pequeño o tablet vertical */
@media (max-width: 991px) and (min-width: 768px) {
    .w3-sidebar {
        width: 100%;
    }

    .sidebar--footer {
        position: absolute;
        bottom: 0;
        width: 100%
    }
}

/* Movil */
@media (max-width: 767px) {
    .w3-sidebar {
        width: 100%;
    }

    .sidebar--footer {
        position: absolute;
        bottom: 0;
        width: 100%
    }
}